* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.container {
  width: 380px;
  background: #d5ecf3;
  border-radius: 12px;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 230px;
  background: url('bg.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 18px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

h2 {
  text-align: center;
  margin: 35px 0 25px;
  color: #133b65;
  font-size: 28px;
}

form {
  padding: 0 30px;
}

label {
  font-size: 13px;
  color: #1b1b1b;
  margin-bottom: 4px;
  display: block;
}

input {
  width: 100%;
  border-radius: 18px;
  border: none;
  padding: 12px 18px;
  margin-bottom: 18px;
  font-size: 15px;
  background: white;
}

button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  background: #4f8cf0;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  opacity: .85;
}

.bottom {
  text-align: center;
  margin: 18px 0 8px;
  font-size: 13px;
}

.bottom a {
  color: #0080ff;
  text-decoration: none;
}
